<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SeleniumSuite">
    <listeners>
        <listener class-name="utils.AllureListener" />
    </listeners>

    <test name="SeleniumDocTest">
        <classes>
            <class name="tests.SeleniumDocTest"/>
        </classes>
    </test>
</suite>
